@model IEnumerable<Salary_Distribution.Models.EmploeesModel>
<h1> Pracownicy</h1>


<h3>Dodawanie nowego pracownika</h3>
<div class="container">
    <input type="text" placeholder="Imię" id="userName" />
    <input type="text" placeholder="Nazwisko" id="userSurname" />
    <input type="checkbox" placeholder="Brygadzista?" id="isForeman" />
    <input type="number" placeholder="Stawka" id="salary" />
    <input type="button" id="addButton" value="Dodaj" />

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foreman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
    </tr>

    @foreach (var model in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => model.Surname)
    <td>
        @Html.DisplayFor(modelItem => model.Foreman)
    </td>
    <td>
        @Html.DisplayFor(modelItem => model.Salary)
    </td>
</tr>
    }
</table>